@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap");
*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
}

body {
  font-size: 1.6rem;
}

a {
  color: inherit;
  text-decoration: none;
}

.title {
  font-family: "Shrikhand", cursive;
}