@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap");
*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
}

body {
  font-size: 1.6rem;
  width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

.title,
.brand {
  font-family: "Shrikhand", cursive;
}

.brand {
  text-align: center;
}

.container {
  padding: 20px;
}

.stretched-link {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
}

.l-header {
  position: relative;
  background-color: #ffffff;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
}

.search {
  background-color: #eaeaea;
  text-align: center;
}
.search .container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.book {
  background-color: #f6f6f6;
}
.book .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
  padding: 40px 20px;
}
.book h2,
.book p {
  text-align: center;
}

.fonctioning .container {
  padding: 40px 20px;
}
.fonctioning .cards {
  gap: 25px;
  padding-left: 1.1rem;
}
.fonctioning .card {
  padding: 28px 35px;
  background-color: #f6f6f6;
  border-radius: 20px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
}
.fonctioning .badge-n {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(-50%, -50%);
}

.restaurants {
  background-color: #f6f6f6;
}
.restaurants .cards {
  gap: 18px;
}
.restaurants .card {
  overflow: hidden;
  border-radius: 15px;
}
.restaurants .card-img {
  aspect-ratio: 3/2;
  margin: -17% 0 0 0;
}
.restaurants .card-body {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: #ffffff;
}
.restaurants .favorite {
  width: 2.2rem;
}

.l-footer {
  color: #ffffff;
  background-color: #000000;
}

.footer-menu {
  display: flex;
  flex-direction: column;
  gap: 7px;
  list-style: none;
}
.footer-menu .fa-solid {
  width: 3rem;
}

.footer-title {
  font-size: 1.8rem;
  padding-bottom: 16px;
}

.btn-primary {
  min-width: 186px;
  padding: 13px 18px;
  text-align: center;
  color: #ffffff;
  background-color: #9356dc;
  box-shadow: 0 25px 50px 0px #ff79da inset;
  border-radius: 20px;
  transition: all 500ms ease-in-out;
}
.btn-primary:hover {
  opacity: 0.8;
  background-color: #ff79da;
  box-shadow: 0 25px 50px 0px #9356dc inset;
}

.badge-new {
  position: absolute;
  padding: 7px 9px;
  right: 15px;
  top: 15px;
  font-weight: 500;
  font-size: 1.4rem;
  color: #008766;
  border-radius: 2px;
  background-color: #99e2d0;
}

.badge-n {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.2rem;
  height: 2.2rem;
  font-size: 1.2rem;
  color: #ffffff;
  background-color: #ff79da;
  border-radius: 50%;
}

.favorite {
  position: relative;
}
.favorite .input-favorite {
  display: none;
}
.favorite .input-favorite:checked ~ .label-favorite .favorite-check {
  opacity: 1;
}
.favorite .input-favorite:checked ~ .label-favorite .favorite-uncheck {
  opacity: 0;
}
.favorite .favorite-check,
.favorite .favorite-uncheck {
  position: absolute;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 50%;
  right: 0;
  width: 100%;
  height: 100%;
  transform: translateY(-50%);
  transition: opacity 500ms ease-in-out;
}
.favorite .favorite-check {
  opacity: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(#9356dc), to(#ff79da));
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
}
.favorite .favorite-check:hover {
  opacity: 1;
}
.favorite .favorite-uncheck {
  opacity: 1;
  color: #000000;
}
.favorite .favorite-uncheck:hover {
  opacity: 0;
}

.cards {
  display: flex;
  flex-direction: column;
  padding-top: 25px;
}

.card {
  position: relative;
  border-radius: 20px;
}

.card-img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}