.badge-new {
  position: absolute;
  color: #008766;
  padding: 7px 9px;
  right: 15px;
  top: 15px;
  font-weight: 500;
  font-size: 1.4rem;
  border-radius: 2px;
  background-color: $tertiary-color;
}
