.btn-primary {
  min-width: 186px;
  padding: 13px 18px;
  text-align: center;

  color: #ffffff;
  background: linear-gradient(
    193deg,
    $primary-color -11.44%,
    $secondary-color 123.93%
  );
  border-radius: 20px;
}
