.btn-primary {
  display: inline-block;

  padding: 13px 18px;
  text-align: center;

  min-width: 186px;
  color: #ffffff;
  background-color: $primary-color;
  box-shadow: 0 25px 50px -0px $secondary-color inset;

  border-radius: 20px;

  transition: background-color 0.6s ease;

  &:hover {
    opacity: 0.8;
    background-color: $secondary-color;
    box-shadow: 0 25px 50px -0px $primary-color inset;
  }
}
