.favorite {
  position: relative;

<<<<<<< Updated upstream
  .input-favorite {
    display: none;

    &:checked {
      ~ .label-favorite {
        .favorite-check {
          opacity: 1;
        }
        .favorite-uncheck {
          opacity: 0;
        }
      }
    }
  }
=======
  font-size: 2.2rem;
  width: 2.2rem;
  height: 2.2rem;
>>>>>>> Stashed changes

  .favorite-check,
  .favorite-uncheck {
    position: absolute;

    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;

    top: 50%;
    right: 0;
    width: 100%;
    height: 100%;

<<<<<<< Updated upstream
    transform: translateY(-50%);
    transition: opacity 500ms ease-in-out;
=======
    transition: opacity 0.6s ease-in-out;
>>>>>>> Stashed changes
  }

  .favorite-check {
    opacity: 0;

    background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from($primary-color),
      to($secondary-color)
    );
    background-clip: text;
    -webkit-text-fill-color: transparent;

    &:hover {
      opacity: 1;
    }
  }

  .favorite-uncheck {
    opacity: 1;
    color: #000000;

    &:hover {
      opacity: 0;
    }
  }
}
