.appear-animate {
  opacity: 0;

  animation-name: appear-animation;
  animation-duration: $appear-duration;
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;
}

@for $i from 0 through 2 {
  .delay-#{$i} {
    animation-delay: $i * $appear-delay;
  }
}

@keyframes appear-animation {
  from {
    opacity: 0;
    transform: translateY(100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
