$breakpoints: (
  tablet: (
    min-width: 768px,
  ),
  desktop: (
    min-width: 1024px,
  ),
);

$font-family-title: "Shrikhand", cursive;
$font-family-default: "Roboto", sans-serif;

$primary-color: #9356dc;
$secondary-color: #ff79da;
$tertiary-color: #99e2d0;

$primary-bg-color: #f6f6f6;
$secondary-bg-color: #eaeaea;

$icon-size: 2.2rem;

/***
    Paramètres du loader
***/
$loader-duration: 3s; // Durée d'affichage du loader
$loader-interval: 2s; // Intervalle entre les animations
$loader-amount: 6; // Nombre de points
$loader-radius: 4vmin; // Rayon
$loader-colors: ($primary-color, $secondary-color, $tertiary-color);
